.container {
    @apply py-4 px-5 border-gray-200/80 border-b
}

.imageContainer {
    @apply relative w-[60px]
}

.imageContainer::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.image {
    @apply absolute h-full w-full object-cover z-[0]
}

.productCols {
    @apply flex gap-3 mb-4
}

.name {
    @apply text-sm
}

.price {
    @apply text-sm font-bold
}

.actionButtons {
    @apply flex justify-between
}
.icon {
    @apply text-black
}

.qtyButtons {
    @apply flex gap-1 items-center
}