.name {
    @apply mt-2 text-sm
}

.container {
    @apply relative
}

.imageContainer {
    @apply relative
}

.imageContainer::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.image {
    @apply absolute h-full w-full object-cover z-[0]
}

.outOfStock {
    @apply p-2 absolute z-[1] bg-rose-500/80 text-white text-sm font-bold left-[50%] translate-x-[-50%] top-[50%] translate-y-[-50%] whitespace-nowrap
}

.price {
    @apply mt-2 text-sm font-bold leading-[1]
}

.salePrice {
    @apply price line-through text-slate-500
}

.discountPercentage {
    @apply z-[9] h-[35px] w-[35px] bg-amber-300 absolute left-1 top-1 rounded-[50%] flex justify-center items-center text-sm font-extrabold opacity-[0.85]
}