.name {
    @apply font-extrabold text-lg mb-2
}

.section {
    @apply p-5 bg-white
}

.sectionTitle {
    @apply font-bold
}

.addToCartSection {
    @apply section;
    @apply pb-0
}

.stickyButton {
    @apply section;
    @apply py-3 sticky left-0 bottom-0 bg-[transparent] z-[999999]
}

.container {
    @apply bg-gray-100 flex flex-col gap-2
}

.imageContainer {
    @apply relative
}

.imageContainer::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.image {
    position: absolute !important;
    @apply h-full w-full object-cover;
}

.breadcrumbs {
    @apply flex gap-2 mb-2
}

.swipeIndicator {
    @apply absolute z-[1] bg-stone-900/60 text-white p-1 px-2 text-sm rounded-lg right-[10px] bottom-[10px]
}

.finalPrice {
    @apply text-base font-bold
}

.discountPrice {
    @apply text-xs line-through text-gray-500
}

.price {
    @apply flex gap-3 flex items-center
}

.percentOff {
    @apply bg-amber-300 text-black font-bold text-xs flex justify-center items-center p-2 py-[2px] uppercase
}

.outOfStock {
    @apply bg-rose-500 text-white font-bold text-xs flex justify-center items-center p-2 py-[2px] uppercase
}

.stockThreshold {
    @apply text-sm mt-2 text-gray-500
}

.divider {
    @apply bg-gray-100/70 my-6
}

.description {
    white-space: break-spaces;
}

.sectionDivider {
    @apply bg-gray-100 h-2
}

.icon {
    @apply text-black
}

.qtyButtons {
    @apply flex gap-1 items-center
}

.qtyContainer {
    @apply flex justify-between items-center
}

.qty {
    @apply flex items-center justify-center w-[22px]
}