.name {
    @apply font-extrabold text-lg
}

.section {
    @apply p-5
}

.imageContainer {
    @apply relative
}

.imageContainer::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.image {
    position: absolute !important;
    @apply h-full w-full object-cover;
}

.breadcrumbs {
    @apply flex gap-2 mb-2
}